*{
    box-sizing: border-box;
}

body{
    background-color: #000000;
    background: url('background_wgrain_480.mov') no-repeat center center fixed;
    background-size: cover;
    padding-top: 15%;
    padding-left: 20%;
    padding-right: 20%;
}

h1{
    color: white;
    font-family: futura;
    text-align: center;
}

h4{
    color: white;
    font-family: futura;
    text-align: justify;
}

p{
    color:white;
    font-family: futura;
    text-align: left, pjustify;
}

a{
    color:white;
    font-family: futura;
    text-decoration: underline;
}
